# Minio
MINIO_ACCESS_KEY=123
MINIO_SECRET_KEY=12345678

# Grafana
GF_SECURITY_ADMIN_PASSWORD=password
GF_INSTALL_PLUGINS=grafana-piechart-panel

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Pgadmin
PGADMIN_DEFAULT_EMAIL=pgadmin@pgadmin.nl
PGADMIN_DEFAULT_PASSWORD=password
